<div id="player-banner" class="py-5 md:py-20 bg-browers-purple"></div>
<div id="player" class="flex items-center pt-8 sm-max:justify-center sm:pt-16">
  <div id="player-logo">
    <img class="w-24" src="../../assets/img/browers-brand.png">
  </div>
  <div class="ml-5">
    <p class="pl-2 pt-1 pb-0">Jugador</p>
    <p class="text-lg sm:text-6xl text-slate-900">{{'Joan Oblak' | uppercase}}</p>
  </div> 
</div>

<div id="player-details" class="py-10 justify-center">
<div class="grid grid-cols-2 gap-2 pl-4">
  <div class="">
    <p class="text-slate-900 text-sm sm:text-lg">Edad</p>
    <p class="text-slate-900 text-lg sm:text-3xl">17</p>
    <mat-divider></mat-divider>
  </div>
  <div class="">
    <p class="text-slate-900 text-sm sm:text-lg">Nicname</p>
    <p class="text-slate-900 text-lg sm:text-3xl">Ultrasonic</p>
    <mat-divider></mat-divider>
  </div>
  <div class="">
    <p class="text-slate-900 text-sm sm:text-lg">Pais</p>
    <p class="text-slate-900 text-lg sm:text-3xl">España</p>
    <mat-divider></mat-divider>
  </div>
  
  <div class="">
    <p class="text-slate-900 text-sm sm:text-lg">Dorsal</p>
    <p class="text-slate-900 text-lg sm:text-3xl">20</p>
    <mat-divider></mat-divider>
  </div>
  <div class="">
    <p class="text-slate-900 text-sm sm:text-lg">Partidos Jugados</p>
    <p class="text-slate-900 text-lg sm:text-3xl">3</p>
    <mat-divider></mat-divider>
  </div>
  <div class="">
    <p class="text-slate-900 text-sm sm:text-lg">Goles</p>
    <p class="text-slate-900 text-lg sm:text-3xl">7</p>
    <mat-divider></mat-divider>
  </div>
</div>
</div>