@import "tailwindcss";
@theme {
  --color-browers-deep-purple: #3A0E5F;
  --color-browers-purple: #5B0888;
  --color-browers-light-purple: #7D39C4;
  --color-browers-lavender: #A44DFF;
  --color-browers-grey: #8E8E8E;
  --color-browers-dark-grey: #555555;
  --color-browers-light-grey: #E3E3E3;
  --color-browers-white: #FFFFFF;
  --color-browers-black: #0C0C0C;
  --color-browers-charcoal: #393939;
  --color-browers-steel-grey: #717171;
  --color-browers-silver: #AAAAAA;
}

/* Optional: Angular Material theme import */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Global styles */
html, body {
  height: 100%;
}
body {
  margin: 0;
  margin-top: 64px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
