<div id="team" class="flex items-center pt-20 pl-4 sm:pl-0">
  <div id="equipo-logo">
    <img class="w-24" src="../../assets/img/browers-brand.png">
  </div>
  <div class="ml-5">
    <p class="pl-2 pt-1 pb-0">Equipo</p>
    <p class="text-lg sm:text-6xl text-browers-dark-grey">BROWERS FC</p>
  </div> 
</div>

<div id="tabs">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Plantilla">
        <!--  -->
        <div id="card" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 my-10 pb-20">
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
          <div class="flex items-center rounded-md p-2 border-2 border-browers-blue hover:border-browers-purple shadow-md shadow-indigo-500/50">
            <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
            <div class="ml-4">
              <p class="text-white font-bold text-base">Portero</p>
              <p class="text-white font-bold text-base">Jan Oblak (13)</p>
            </div>
          </div>
        </div>
        
        <!--  -->
    </mat-tab>
    <mat-tab label="Partidos">
      <div id="partidos-cards" class="grid grid-cols-1 md:grid-cols-2 gap-5 my-10">
       
        <mat-card class="mat-card">
          <div class="grid grid-cols-3">
            <div class="team-container col-span-2">
              <div class="team flex items-center mt-2 ml-2">
                <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
                <p class="team-name">Nombre del Equipo 1</p>
              </div>
              <div class="team flex items-center mt-2 ml-2">
                <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
                <p class="team-name">Nombre del Equipo 2</p>
              </div>
            </div>
            <div class="match-details mr-2 border-l-2 border-white justify-center">
              <p class="match-date-time text-center">2023-10-28 23:25</p>
            </div>
            <div class="col-span-3">
              <p class="match-result text-center">1 - 0</p>
            </div>
          </div>
        </mat-card>
        <mat-card class="mat-card">
          <div class="grid grid-cols-3">
            <div class="team-container col-span-2">
              <div class="team flex items-center mt-2 ml-2">
                <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
                <p class="team-name">Nombre del Equipo 1</p>
              </div>
              <div class="team flex items-center mt-2 ml-2">
                <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
                <p class="team-name">Nombre del Equipo 2</p>
              </div>
            </div>
            <div class="match-details mr-2 border-l-2 border-white justify-center">
              <p class="match-date-time text-center">2023-10-28 23:25</p>
            </div>
            <div class="col-span-3">
              <p class="match-result text-center">1 - 0</p>
            </div>
          </div>
        </mat-card>
        <mat-card class="mat-card">
          <div class="grid grid-cols-3">
            <div class="team-container col-span-2">
              <div class="team flex items-center mt-2 ml-2">
                <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
                <p class="team-name">Nombre del Equipo 1</p>
              </div>
              <div class="team flex items-center mt-2 ml-2">
                <img src="../../assets/img/browers-brand.png" class="w-10 h-10 md:w-16 md:h-16">
                <p class="team-name">Nombre del Equipo 2</p>
              </div>
            </div>
            <div class="match-details mr-2 border-l-2 border-browers-white justify-center">
              <p class="match-date-time text-center">2023-10-28 23:25</p>
            </div>
            <div class="col-span-3">
              <p class="match-result text-center">1 - 0</p>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group> 
</div>

