<div class="md:w-auto m-0 mx-auto home">
  <section class="next-game">
    <div
      class="grid grid-cols-5 border-2 rounded banner-next-game outline outline-offset-2 outline-1 shadow-lg shadow-browers-purple bg-gray-50 max-w-6xl">
      <div class="col-span-5 text-center"><span
          class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10 mt-4">Pr&oacute;ximo
          partido</span></div>
      <div class="col-span-1 flex items-center justify-center"><img src="../../assets/img/browers-brand.png" /></div>
      <div class="col-span-1 flex items-center justify-center">
        <p class="text-[3.78rem] text-gray-900">1</p>
      </div>
      <div class="col-span-1 flex items-center justify-center text-xl">VS</div>
      <div class="col-span-1 flex items-center justify-center">
        <p class="text-[3.78rem] text-gray-900">0</p>
      </div>
      <div class="col-span-1 flex items-center justify-center"><img src="../../assets/img/team-not-found.avif" /></div>
      <div class="col-span-1 text-center">BrowersFC</div>
      <div class="col-span-1 text-center"></div>
      <div class="col-span-1 text-center"><span
          class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-700/10 mt-1">Polideportivo
          Aluche</span></div>
      <div class="col-span-1 text-center"></div>
      <div class="col-span-1 text-center">Rival1</div>
      <div class="col-span-5 text-center"><span
          class="inline-flex items-center rounded-md bg-slate-50 px-2 py-1 text-xs font-medium text-slate-800 ring-1 ring-inset ring-slate-700/10 mt-1">29-10-2023
          09:00</span></div>
      <div class="col-span-5 text-center"><br></div>
    </div>
  </section>

  <section id="last-news">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-16 lg:max-w-none">
        <h2 class="text-xl text-browers-purple">Ultimas noticias</h2>

        <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
          <div class="group relative">
            <div
              class="bg-browers-blue relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="../../assets/img/noticia.jpg" alt="new1" class="h-full w-full object-center object-scale-down">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Cr&oacute;nica Browers VS Gal&aacute;cticos Team</h3>
            <p class="mt-1 font-thin text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magnam
              laboriosam ipsum! Consequuntur non cumque odit at ab atque inventore quam similique possimus, tenetur aut.
              Debitis consequatur provident eius obcaecati.</p>
          </div>
          <div class="group relative">
            <div
              class="relative h-80 w-full overflow-hidden rounded-lg bg-browers-blue sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="../../assets/img/noticia2.JPG" alt="new2"
                class="h-full w-full object-center sm:object-scale-down">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Self-Improvement</h3>
            <p class="mt-1 font-thin text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magnam
              laboriosam ipsum! Consequuntur non cumque odit at ab atque inventore quam similique possimus, tenetur aut.
              Debitis consequatur provident eius obcaecati.</p>
          </div>
          <div class="group relative">
            <div
              class="relative h-80 w-full overflow-hidden rounded-lg bg-browers-blue sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="../../assets/img/noticia.jpg" alt="new3" class="h-full w-full object-center object-scale-down">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Travel</h3>
            <p class="mt-1 font-thin text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magnam
              laboriosam ipsum! Consequuntur non cumque odit at ab atque inventore quam similique possimus, tenetur aut.
              Debitis consequatur provident eius obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>

  </section>

</div>