<div id="test" class="md:w-5/6 m-0 mx-auto bg-slate-50">
  <section class="next-game">
    <div class="grid grid-cols-5 border-2 border-indigo-600 rounded banner-next-game outline outline-offset-2 
    outline-1 shadow-lg shadow-brower-purple bg-gray-50 max-w-2xl">
        <div class="col-span-5 text-center text-sm font-semibold"><span class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs 
            font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10 mt-4">Pr&oacute;ximo partido</span></div>
        <div class="col-span-5 text-center text-sm font-sans font-semibold">Polideportivo Aluche</div>
        <div class="col-span-5 text-center text-xs font-mono font-medium">08-08-2023 09:00</div>
            <div class="col-span-1 flex items-center justify-center"><img src="../../assets/img/browers-brand.png"/></div>
            <div class="col-span-1 flex items-center justify-center text-xl font-semibold">-</div>
            <div class="col-span-1 flex items-center justify-center text-xl font-semibold">VS</div>
            <div class="col-span-1 flex items-center justify-center text-xl font-semibold">-</div>
            <div class="col-span-1 flex items-center justify-center"><img src="../../assets/img/team-not-found.avif"/></div>
            <div class="col-span-1 text-center">BrowersFC</div>
            <div class="col-span-1 text-center"></div>
            <div class="col-span-1 text-center"></div>
            <div class="col-span-1 text-center"></div>
            <div class="col-span-1 text-center">Rival1</div>
            <div class="col-span-5 text-center"><br></div>
    </div>
  </section>
  
  <section id="last-news">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 lg:max-w-none">
          <h2 class=" text-xl text-brower-purple font-semibold">Ultimas noticias</h2>
    
          <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
            <div class="group relative">
              <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                <img src="../../assets/img/noticia.jpg" alt="new1" class="h-full w-full object-center object-scale-down">
              </div>
              <h3 class="mt-6 text-sm text-brower-purple font-semibold">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  <p class="font-serif">Cr&oacute;nica Browers VS Gal&aacute;cticos Team</p> 
                </a>
              </h3>
              <p class="text-base text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, reiciendis? A illo temporibus voluptates doloremque perferendis. Obcaecati sed voluptates ratione error soluta temporibus labore corporis vel hic. Sed, necessitatibus libero?</p>
            </div>
            <div class="group relative">
              <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                <img src="../../assets/img/noticia2.JPG" alt="new2" class="h-full w-full object-center sm:object-scale-down">
              </div>
              <h3 class="mt-6 text-sm text-brower-purple font-semibold">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  <p class="font-serif">Self-Improvement</p> 
                </a>
              </h3>
              
              <p class="text-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta atque ullam natus, pariatur a veritatis sunt sapiente maiores placeat dolorum? Vel tempora sint veniam at nemo fugiat hic, cumque animi.</p>
            </div>
            <div class="group relative">
              <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                <img src="../../assets/img/noticia.jpg" alt="new3" class="h-full w-full object-center object-scale-down">
              </div>
              <h3 class="mt-6 text-sm text-brower-purple font-semibold">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  <p class="font-serif">Travel</p> 
                </a>
              </h3>
              <p class="text-basetext-gray-900">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, maxime eius exercitationem delectus beatae, molestias ad nesciunt eaque libero consequuntur ex dicta unde possimus deserunt magnam? Harum nisi consectetur neque.</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  
  
</div>
